<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

<formvh:renderRenderable renderable="{element}">
    <div class="clearfix">
        <p{f:if(condition: element.properties.elementClassAttribute, then: ' class="{element.properties.elementClassAttribute}"')}><f:format.raw>{formvh:translateElementProperty(element: element, property: 'label') -> f:format.stripTags(allowedTags: '<a>')}</f:format.raw></p>
    </div>
</formvh:renderRenderable>

</html>
